In [1]:
import pandas as pd

FILE_PATH = 'data/household_power_consumption.txt'

df = pd.read_csv(FILE_PATH, delimiter=';', dtype=str)

df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.000
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.000
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.000
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.000
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.000

In [2]:
def join_date_and_time(df):
    df = df.copy()
    df['Date'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %H:%M:%S')
    df = df.drop(['Time'], axis=1)
    return df

df = join_date_and_time(df)

In [3]:
df = df.set_index('Date')
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.000
2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.000
2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.000
2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.000
2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.000

In [4]:
def clean(df):
    df = df.copy()
    for col in df.columns:
        #df = df[~df[col].str.contains('?', regex=False)]
        df[col] = df[col].str.replace('?', 'nan', regex=False).astype(float)
        df = df.fillna(method='ffill')
    return df
df = clean(df)

/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_7912/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

In [5]:
def create_time_series_features(df):
    df['hour'] = df.index.hour
    df['dayofweek'] = df.index.dayofweek
    df['quarter'] = df.index.quarter
    df['month'] = df.index.month
    df['year'] = df.index.year
    df['dayofyear'] = df.index.dayofyear
    return df

In [6]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...
2010-11-26 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2010-11-26 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2010-11-26 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2010-11-26 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2010-11-26 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [7]:
from sklearn.preprocessing import RobustScaler

transformer = RobustScaler().fit(df)

In [8]:
processed_features = transformer.transform(df)
processed_features = pd.DataFrame(processed_features, columns=df.columns)

In [9]:
df = processed_features.set_index(df.index)

In [10]:
daily_resampled_df = create_time_series_features(df.resample('D').mean())
daily_resampled_df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,hour,dayofweek,quarter,month,year,dayofyear
Date,,,,,,,,,,,,,
2006-12-16,2.019305,-0.080912,-1.234170,2.096566,0.000000,1.378788,0.672906,0,5,4,12,2006,350
2006-12-17,1.444479,0.390059,-0.241078,1.479806,1.411806,2.907639,0.486152,0,6,4,12,2006,351
2006-12-18,0.766805,0.084627,0.054701,0.764333,0.738194,1.820139,0.513807,0,0,4,12,2006,352
2006-12-19,0.459769,0.033019,0.253052,0.465278,0.582639,5.279167,0.194322,0,1,4,12,2006,353
2006-12-20,0.779324,0.080850,0.332833,0.773472,0.000000,1.838889,0.515645,0,2,4,12,2006,354
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-11-22,0.674123,-0.007829,-0.212631,0.682833,3.371528,1.465278,0.355229,0,0,4,11,2010,326
2010-11-23,0.409137,-0.031155,-0.114851,0.414889,1.299306,0.318056,0.252083,0,1,4,11,2010,327
2010-11-24,0.534041,-0.054890,-0.255565,0.529917,0.761111,1.977778,0.440523,0,2,4,11,2010,328
2010-11-25,0.325546,-0.132572,0.133400,0.313889,0.747222,0.295833,0.148366,0,3,4,11,2010,329
2010-11-26,0.477163,-0.029686,-0.188365,0.471259,0.855107,0.304830,0.406409,0,4,4,11,2010,330

In [11]:
target  = 'Global_active_power'

daily_shifted_df = daily_resampled_df.copy()

daily_shifted_df[target] = daily_shifted_df[target].shift(-1)

daily_shifted_df.loc[daily_shifted_df.index[-1], 'Global_active_power'] = 0.0

# LSTM Model

In [13]:
import torch
import numpy as np

FEATURES = ["Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2","Sub_metering_3","hour","dayofweek","quarter","month","year","dayofyear"]

TARGET = ["Global_active_power"]

train_df = daily_shifted_df[:'2009-12-31'].fillna(0.0)
test_df = daily_resampled_df['2010-01-01':].fillna(0.0)

X_train = train_df[FEATURES]
y_train = train_df[TARGET] 

X_test = test_df[FEATURES]
y_test = test_df[TARGET] 

X_train = torch.tensor(X_train.values.astype(np.float32))
y_train = torch.tensor(y_train.values.astype(np.float32))

X_test = torch.tensor(X_test.values.astype(np.float32))
y_test = torch.tensor(y_test.values.astype(np.float32))

device = "cuda" if torch.cuda.is_available() else "cpu"

X_train, y_train = X_train.to(device), y_train.to(device)
X_test, y_test = X_test.to(device), y_test.to(device)

In [44]:
from torch import nn

class EnergyModel(nn.Module):
    def __init__(self, n_neurons, num_layers):
        super().__init__()
        self.lstm = nn.LSTM(input_size=12, hidden_size=n_neurons, num_layers=num_layers, batch_first=True)
        self.linear = nn.Linear(n_neurons,1)
    def forward(self, x):
        x, _ = self.lstm(x)
        x = self.linear(x)
        return x

In [81]:
import torch.optim as optim
import torch.utils.data as data
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_absolute_error


def run_experiment(model, device):
  optimizer = optim.Adam(model.parameters())
  loss_fn = nn.MSELoss()

  model.to(device)

  loader = data.DataLoader(data.TensorDataset(X_train, y_train), shuffle=True, batch_size=1000)

  epoch_count = []
  train_loss_values = []
  test_loss_values = []

  epochs = 400

  for epoch in range(epochs):
      model.train()
      for X_batch, y_batch in loader:
        y_pred = model(X_batch)
        loss = torch.sqrt(loss_fn(y_pred, y_batch))
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    
      if epoch % 10 != 0:
          continue
    
      model.eval()
      with torch.inference_mode():
          y_pred = model(X_test)
          test_loss = float(np.sqrt(loss_fn(y_pred, y_test).cpu()))
        
          train_loss = loss.cpu().item()

          epoch_count.append(epoch)
          train_loss_values.append(train_loss)
          test_loss_values.append(test_loss)
    

  y_pred = (model(X_test)).cpu().detach().numpy()

  mse = mean_squared_error(y_test.cpu().detach().numpy(), y_pred, squared=False)
  mape = mean_absolute_percentage_error(y_test.cpu().detach().numpy(), y_pred)
  mae = mean_absolute_error(y_test.cpu().detach().numpy(), y_pred)

  return {"MAE": mae, "MAPE": mape, "MSE": mse}

In [85]:
from itertools import product

results = []
n_neurons_params = [2**x for x in range(9)]
n_layers = [x for x in range(1,5)]

#n_neurons_params = [2]
#n_layers = [1]

params = list(product(n_neurons_params, n_layers))
params

for param in params:
  model = EnergyModel(param[0], param[1])

  result = run_experiment(model, "cuda")
  result["n_neurons"] = param[0]
  result["n_layers"] = param[1]
  
  print(result)
  results.append(result)
print("Done")

{'MAE': 0.22548223, 'MAPE': 3.565622, 'MSE': 0.2889311, 'n_neurons': 1, 'n_layers': 1}
{'MAE': 0.22781876, 'MAPE': 3.7213452, 'MSE': 0.29169607, 'n_neurons': 1, 'n_layers': 2}
{'MAE': 0.22588563, 'MAPE': 3.5980673, 'MSE': 0.28966796, 'n_neurons': 1, 'n_layers': 3}
{'MAE': 0.2255508, 'MAPE': 3.575359, 'MSE': 0.28896916, 'n_neurons': 1, 'n_layers': 4}
{'MAE': 0.22435372, 'MAPE': 3.4296505, 'MSE': 0.2874271, 'n_neurons': 2, 'n_layers': 1}
{'MAE': 0.22579257, 'MAPE': 3.6024022, 'MSE': 0.28969708, 'n_neurons': 2, 'n_layers': 2}
{'MAE': 0.22797221, 'MAPE': 3.625689, 'MSE': 0.29148597, 'n_neurons': 2, 'n_layers': 3}
{'MAE': 0.22516923, 'MAPE': 3.5861979, 'MSE': 0.28906098, 'n_neurons': 2, 'n_layers': 4}
{'MAE': 0.22631344, 'MAPE': 3.6235378, 'MSE': 0.28987265, 'n_neurons': 4, 'n_layers': 1}
{'MAE': 0.2592667, 'MAPE': 3.6441603, 'MSE': 0.32379022, 'n_neurons': 4, 'n_layers': 2}
{'MAE': 0.22686361, 'MAPE': 3.5522325, 'MSE': 0.29017898, 'n_neurons': 4, 'n_layers': 3}
{'MAE': 0.22771662, 'MAPE': 3.653955, 'MSE': 0.29127344, 'n_neurons': 4, 'n_layers': 4}
{'MAE': 0.2248938, 'MAPE': 3.538963, 'MSE': 0.2884315, 'n_neurons': 8, 'n_layers': 1}
{'MAE': 0.22626965, 'MAPE': 3.6483657, 'MSE': 0.29044953, 'n_neurons': 8, 'n_layers': 2}
{'MAE': 0.22606798, 'MAPE': 3.6399214, 'MSE': 0.29019168, 'n_neurons': 8, 'n_layers': 3}
{'MAE': 0.22831872, 'MAPE': 3.6769116, 'MSE': 0.2919299, 'n_neurons': 8, 'n_layers': 4}
{'MAE': 0.2258692, 'MAPE': 3.6091397, 'MSE': 0.28949916, 'n_neurons': 16, 'n_layers': 1}
{'MAE': 0.22466694, 'MAPE': 3.480636, 'MSE': 0.28821182, 'n_neurons': 16, 'n_layers': 2}
{'MAE': 0.2276979, 'MAPE': 3.7289622, 'MSE': 0.2919237, 'n_neurons': 16, 'n_layers': 3}
{'MAE': 0.22254935, 'MAPE': 3.0096834, 'MSE': 0.285876, 'n_neurons': 16, 'n_layers': 4}
{'MAE': 0.22622551, 'MAPE': 3.6258552, 'MSE': 0.28983203, 'n_neurons': 32, 'n_layers': 1}
{'MAE': 0.19585603, 'MAPE': 3.2638192, 'MSE': 0.2518225, 'n_neurons': 32, 'n_layers': 2}
{'MAE': 0.21920605, 'MAPE': 3.0488064, 'MSE': 0.2833437, 'n_neurons': 32, 'n_layers': 3}
{'MAE': 0.22142473, 'MAPE': 3.3814557, 'MSE': 0.28495532, 'n_neurons': 32, 'n_layers': 4}
{'MAE': 0.18434301, 'MAPE': 2.045583, 'MSE': 0.24440414, 'n_neurons': 64, 'n_layers': 1}
{'MAE': 0.15630467, 'MAPE': 1.6588054, 'MSE': 0.20718347, 'n_neurons': 64, 'n_layers': 2}
{'MAE': 0.20006633, 'MAPE': 3.4445746, 'MSE': 0.26172307, 'n_neurons': 64, 'n_layers': 3}
{'MAE': 0.18825825, 'MAPE': 2.1627867, 'MSE': 0.2433665, 'n_neurons': 64, 'n_layers': 4}
{'MAE': 0.16201279, 'MAPE': 1.6687149, 'MSE': 0.21045887, 'n_neurons': 128, 'n_layers': 1}
{'MAE': 0.15264864, 'MAPE': 1.3156852, 'MSE': 0.20468688, 'n_neurons': 128, 'n_layers': 2}
{'MAE': 0.15166843, 'MAPE': 1.0992017, 'MSE': 0.19958708, 'n_neurons': 128, 'n_layers': 3}
{'MAE': 0.1562526, 'MAPE': 2.2278388, 'MSE': 0.20950477, 'n_neurons': 128, 'n_layers': 4}
{'MAE': 0.14060669, 'MAPE': 1.1863884, 'MSE': 0.18968421, 'n_neurons': 256, 'n_layers': 1}
{'MAE': 0.15161993, 'MAPE': 1.9363592, 'MSE': 0.20258239, 'n_neurons': 256, 'n_layers': 2}
{'MAE': 0.1411848, 'MAPE': 1.1143384, 'MSE': 0.19108464, 'n_neurons': 256, 'n_layers': 3}
{'MAE': 0.15265663, 'MAPE': 1.4062493, 'MSE': 0.2031933, 'n_neurons': 256, 'n_layers': 4}
Done

In [86]:
results_df = pd.DataFrame(results)

results_df

         MAE      MAPE       MSE  n_neurons  n_layers
0   0.225482  3.565622  0.288931          1         1
1   0.227819  3.721345  0.291696          1         2
2   0.225886  3.598067  0.289668          1         3
3   0.225551  3.575359  0.288969          1         4
4   0.224354  3.429651  0.287427          2         1
5   0.225793  3.602402  0.289697          2         2
6   0.227972  3.625689  0.291486          2         3
7   0.225169  3.586198  0.289061          2         4
8   0.226313  3.623538  0.289873          4         1
9   0.259267  3.644160  0.323790          4         2
10  0.226864  3.552233  0.290179          4         3
11  0.227717  3.653955  0.291273          4         4
12  0.224894  3.538963  0.288431          8         1
13  0.226270  3.648366  0.290450          8         2
14  0.226068  3.639921  0.290192          8         3
15  0.228319  3.676912  0.291930          8         4
16  0.225869  3.609140  0.289499         16         1
17  0.224667  3.480636  0.288212         16         2
18  0.227698  3.728962  0.291924         16         3
19  0.222549  3.009683  0.285876         16         4
20  0.226226  3.625855  0.289832         32         1
21  0.195856  3.263819  0.251823         32         2
22  0.219206  3.048806  0.283344         32         3
23  0.221425  3.381456  0.284955         32         4
24  0.184343  2.045583  0.244404         64         1
25  0.156305  1.658805  0.207183         64         2
26  0.200066  3.444575  0.261723         64         3
27  0.188258  2.162787  0.243366         64         4
28  0.162013  1.668715  0.210459        128         1
29  0.152649  1.315685  0.204687        128         2
30  0.151668  1.099202  0.199587        128         3
31  0.156253  2.227839  0.209505        128         4
32  0.140607  1.186388  0.189684        256         1
33  0.151620  1.936359  0.202582        256         2
34  0.141185  1.114338  0.191085        256         3
35  0.152657  1.406249  0.203193        256         4

In [95]:
results_df.sort_values(by="MAE")

         MAE      MAPE       MSE  n_neurons  n_layers
32  0.140607  1.186388  0.189684        256         1
34  0.141185  1.114338  0.191085        256         3
33  0.151620  1.936359  0.202582        256         2
30  0.151668  1.099202  0.199587        128         3
29  0.152649  1.315685  0.204687        128         2
35  0.152657  1.406249  0.203193        256         4
31  0.156253  2.227839  0.209505        128         4
25  0.156305  1.658805  0.207183         64         2
28  0.162013  1.668715  0.210459        128         1
24  0.184343  2.045583  0.244404         64         1
27  0.188258  2.162787  0.243366         64         4
21  0.195856  3.263819  0.251823         32         2
26  0.200066  3.444575  0.261723         64         3
22  0.219206  3.048806  0.283344         32         3
23  0.221425  3.381456  0.284955         32         4
19  0.222549  3.009683  0.285876         16         4
4   0.224354  3.429651  0.287427          2         1
17  0.224667  3.480636  0.288212         16         2
12  0.224894  3.538963  0.288431          8         1
7   0.225169  3.586198  0.289061          2         4
0   0.225482  3.565622  0.288931          1         1
3   0.225551  3.575359  0.288969          1         4
5   0.225793  3.602402  0.289697          2         2
16  0.225869  3.609140  0.289499         16         1
2   0.225886  3.598067  0.289668          1         3
14  0.226068  3.639921  0.290192          8         3
20  0.226226  3.625855  0.289832         32         1
13  0.226270  3.648366  0.290450          8         2
8   0.226313  3.623538  0.289873          4         1
10  0.226864  3.552233  0.290179          4         3
18  0.227698  3.728962  0.291924         16         3
11  0.227717  3.653955  0.291273          4         4
1   0.227819  3.721345  0.291696          1         2
6   0.227972  3.625689  0.291486          2         3
15  0.228319  3.676912  0.291930          8         4
9   0.259267  3.644160  0.323790          4         2

In [96]:
results_df.to_csv("fine-tuned-results-0.csv")